
<header>
  <div class="bar">
    <a href="/#top" class="left">
      <img src="/assets/Logo.png" alt="logo">
      <span>Elvin Hrytsyuk</span>
    </a>

    <nav>
      <a href="/#about">About</a>
      <a href="/#skills">Skills</a>
      <a href="/#experience">Experience</a>
      <a href="/#education">Education</a>
      <a href="/#resume">Resume</a>
      <a href="/#contact">Contact</a>
      <a href="/admin">Admin</a>
      <a href="https://github.com/Elvin-code-dev" target="_blank">GitHub</a>
      <a href="https://www.linkedin.com/in/elvin-hrytsyuk" target="_blank">LinkedIn</a>
    </nav>
  </div>
</header>
